*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 0.1s;
}
body{
    font-family: sans-serif;
}
nav.nav-bar{
 min-width: 380px !important;
 height: 60px;
 background-color: steelblue;
}
.nav-bar>h2{
    width: 70%;
    margin: auto;
}
.circle{
    width: 45px;
    aspect-ratio: 1/1;
    background-color: #000;
    margin: auto;
    border-radius: 45%;
}
.container{
    max-width: 700px;
    min-width: 380px;
    border: 1px solid steelblue;
    padding: 30px;
    border-radius: 5px;
    margin: 3% auto;
}
.header {
    margin-bottom: 20px; 
}
.header>span{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: auto;
    width: 60%;
    font-size: medium;
}

.overlay{
    position: fixed;
    top: 0;
    right: 0%;
    height: 100vh;
    width: 100%;
    cursor: default !important;
}
.cancel{
    position: fixed;
    width: 100%;
    height: 100vh;
}
.modal{
    width: 100%;
    min-height:100vh;
    position: relative;
    border-radius: 20px 20px 0px 0px;
    background-color: #00000030;
    backdrop-filter: invert(30%);
    animation-name: flyin;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}
.option{
    top:70%
}
.edit{
    top: 50%;
}
.modal>button{
    width: 30%;
    margin: 20px auto;
    padding: 2px 20px;
    outline: 0px;
    border: 1px solid white;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
.modal-box{
    width: 100%;
    padding: 6px 35px;
    min-height: 100px;
}
.btn{
    display: inline;
    background-color: steelblue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}
.btn:focus{
    outline: none;
}

.btn-block {
    display: block;
    width: 100%;
}
.btn-block-left{
    display: block;
    width: 98%;
    background-color: steelblue;
    text-align: left;
    color: #fff !important;
    margin-bottom: 3%;
}
button.btn-block-left.delete{    
    background-color: #990000a9;
    color: #fff !important;
}

@keyframes flyin {
    from{
        top: 100%;
    }
    to{
        top: 70%
    }
}
